<h1>Đây là trang chủ</h1>
<div class="row">
    <div class="col-md-3" ng-repeat="p in products | filter: 'miền Bắc' | limitTo : 2">
        <img src="img/{{p.image}}" alt="" class="img-fluid">
        <p>{{p.name}}</p>
        <p>Giá: {{p.price}}đ</p>
        <a class="btn btn-primary" href="#!detail/{{p.id}}">Xem chi tiết</a>
    </div>
    <div class="col-md-3" ng-repeat="p in products | filter: 'miền Nam'">
        <img src="img/{{p.image}}" alt="" class="img-fluid">
        <p>{{p.name}}</p>
        <p>Giá: {{p.price}}đ</p>
        <a class="btn btn-primary" href="#!detail/{{p.id}}">Xem chi tiết</a>
    </div>
</div>