<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="angular/angular-1.8.2/angular.min.js"></script>
    <script src="angular/angular-1.8.2/angular-route.js"></script>

    <link rel="stylesheet" href="bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="asm/img/plane-solid.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="bootstrap-5.3.3-dist/jquery/jquery.min.js"></script>
    <script src="bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>

    <title>Double Chill</title>
    <link rel="stylesheet" href="asm/css/style.css">
</head>

<body>
    <!-- <header class="w-100 position-relative">
        <nav class="navbar navbar-expand-lg p-0" data-bs-theme="dark">
            <div class="first-header container">
                <div class="top-left text-white fw-semibold">
                    <a class="text-white text-decoration-none" href="../../index.html">Double Chill
                    </a><span>|</span>
                    <a class="text-white text-decoration-none" href="../../index.html">Website đặt dịch vụ du lịch trực tuyến tại Việt
                        Nam</a>
                </div>
                <div class="d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="white" class="bi bi-phone"
                        viewBox="0 0 16 16">
                        <path
                            d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                        <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                    </svg>
                    <a href="" class="text-decoration-none text-white" style="font-size: x-small;">HOTLINE:
                        +8401666331161</a>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg second-header p-0 position-relative w-100" data-bs-theme="dark">
            <div class="container bottom-header">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512">
                        <path
                            d="M40 48C26.7 48 16 58.7 16 72v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V72c0-13.3-10.7-24-24-24H40zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zM16 232v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V232c0-13.3-10.7-24-24-24H40c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V392c0-13.3-10.7-24-24-24H40z" />
                    </svg>
                </button>
                <a class="navbar-brand fw-medium text-black w-25" href="../../index.html"> <img class="brand-name pe-3"
                        src="../img/plane-solid.svg" alt="">Double Chill</a>
                <div class="offcanvas offcanvas-start navbar-collapse bg-white" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item position-relative">
                            <a class="nav-link position-relative text-decoration-none fw-semibold"
                                href="aboutus.html">GIỚI
                                THIỆU</a>
                        </li>
                        <li class="nav-item position-relative">
                            <a class="nav-link position-relative text-decoration-none fw-semibold"
                                href="#">
                                TOUR TRONG NƯỚC
                            </a>
                            <ul class="menu-item-list position-absolute bg-white p-0 rounded-0">
                                <li><a class="menu-item d-block fw-semibold text-decoration-none" href="#">VŨNG TÀU</a>
                                </li>
                                <li><a class="menu-item d-block fw-semibold text-decoration-none" href="#">ĐÀ LẠT</a>
                                </li>
                                <li><a class="menu-item d-block fw-semibold text-decoration-none" href="#">PHÚ QUỐC</a>
                                </li>
                                <li><a class="menu-item d-block fw-semibold text-decoration-none" href="#">NHA TRANG</a>
                                </li>
                                <li><a class="menu-item d-block fw-semibold text-decoration-none" href="#">HÀ NỘI</a>
                                </li>
                                <li><a class="menu-item d-block fw-semibold text-decoration-none" href="#">HUẾ</a></li>
                                <li><a class="menu-item d-block fw-semibold text-decoration-none" href="#">ĐÀ NẴNG</a>
                                </li>
                                <li><a class="menu-item d-block fw-semibold text-decoration-none" href="#">HỘI AN</a>
                                </li>
                                <li><a class="menu-item d-block fw-semibold text-decoration-none" href="#">CẦN THƠ</a>
                                </li>
                                <li><a class="menu-item d-block fw-semibold text-decoration-none" href="#">TIỀN
                                        GIANG</a></li>
                                <li><a class="menu-item d-block fw-semibold text-decoration-none" href="#">MỘC CHÂU</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item position-relative">
                            <a class="nav-link position-relative text-decoration-none fw-semibold"
                                href="foreign.html">
                                TOUR NƯỚC NGOÀI
                            </a>
                            <ul class="menu-item-list position-absolute bg-white p-0 rounded-0">
                                <li><a class="menu-item d-block fw-semibold text-decoration-none" href="#">THÁI LAN</a>
                                </li>
                                <li><a class="menu-item d-block fw-semibold text-decoration-none" href="#">ĐÀI LOAN</a>
                                </li>
                                <li><a class="menu-item d-block fw-semibold text-decoration-none" href="#">HÀN QUỐC</a>
                                </li>
                                <li><a class="menu-item d-block fw-semibold text-decoration-none" href="#">SINGAPORE</a>
                                </li>
                                <li><a class="menu-item d-block fw-semibold text-decoration-none" href="#">HỒNG KÔNG</a>
                                </li>
                                <li><a class="menu-item d-block fw-semibold text-decoration-none" href="#">CAMPUCHIA</a>
                                </li>
                                <li><a class="menu-item d-block fw-semibold text-decoration-none" href="#">NHẬT BẢN</a>
                                </li>
                                <li><a class="menu-item d-block fw-semibold text-decoration-none" href="#">TRUNG
                                        QUỐC</a></li>
                                <li><a class="menu-item d-block fw-semibold text-decoration-none" href="#">LÀO</a></li>
                                <li><a class="menu-item d-block fw-semibold text-decoration-none" href="#">CHÂU ÂU</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item position-relative">
                            <a class="nav-link position-relative text-decoration-none fw-semibold"
                                href="contact.html">
                                LIÊN HỆ
                            </a>
                        </li>
                        <li class="nav-item position-relative" style="display: inline-block;">
                            <a class="align-middle nav-link position-relative fw-semibold"
                                style="display: inline-block;" href="logIn.html">ĐĂNG NHẬP
                                <span class="align-middle text-black fw-normal">&#47;</span>
                            </a>
                        </li>
                        <li class="nav-item position-relative" style="display: inline-block;">
                            <a class="align-middle nav-link position-relative fw-semibold" href="signUp.html"
                                style="display: inline-block; align-items: center;">ĐĂNG
                                KÝ
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-person-fill" viewBox="0 0 16 16">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                </svg></a>
                            <span class="align-middle text-black fw-normal">&#47;</span>
                        </li>
                        <li class="nav-item position-relative" style="display: inline-block;">
                            <a class="align-middle nav-link position-relative fw-semibold align-middle"
                                href="cart.html" style="display: inline-block;">GIỎ HÀNG<svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-handbag-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M8 1a2 2 0 0 0-2 2v2H5V3a3 3 0 1 1 6 0v2h-1V3a2 2 0 0 0-2-2M5 5H3.36a1.5 1.5 0 0 0-1.483 1.277L.85 13.13A2.5 2.5 0 0 0 3.322 16h9.355a2.5 2.5 0 0 0 2.473-2.87l-1.028-6.853A1.5 1.5 0 0 0 12.64 5H11v1.5a.5.5 0 0 1-1 0V5H6v1.5a.5.5 0 0 1-1 0z" />
                                </svg><span
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    99+
                                    <span class="visually-hidden">unread messages</span></a>
                        </li>
                        <li class="nav-item position-relative" style="display: inline-block;">
                            <a class="align-middle nav-link position-relative fw-semibold" href=""
                                data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <p class="m-0">TÌM KIẾM</p>
                                <svg style="color: #000; margin-left: 5px;" xmlns="http://www.w3.org/2000/svg"
                                    width="16" height="16" fill="currentColor" class="bi bi-search align-middle"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                </svg>
                            </a>
                            
                            <div class="modal bg-transparent" id="exampleModal" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog bg-transparent border-0">
                                    <div class="modal-content bg-transparent border-0">
                                        
                                        <div class="modal-body bg-transparent rounded-1 p-0 border-0 d-flex">
                                            <input class="form-control col-7 me-2" list="datalistOptions"
                                                id="exampleDataList" placeholder="Bạn đang tìm...">
                                            <button type="button" class="btn btn-primary m-0 fw-semibold col-3">Tìm
                                                kiếm</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> -->
    <main>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <img src="asm/img/hoian4.avif" class="d-block img-fluid" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="asm/img/hagiang1.avif" class="d-block img-fluid" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="asm/img/songnuoc1.avif" class="d-block img-fluid" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <section class="container-fluid mb-5 product m-0 domestic-product" ng-controller="domesticCtrl">
            <div class="wrap-main w-100 my-0 mx-auto">
                <div class="text-center">
                    <h1 class="fw-semibold lh-base">TOUR TRONG NƯỚC</h1>
                </div>
                <div class="row filldomestic">
                    <select class="form-select place-select col-md-2" aria-label="Default select example"
                        ng-model="locationFilter">
                        <option value="" selected>Địa điểm</option>
                        <option value="{{region}}" ng-repeat="region in regions">{{region}}</option>
                        <!-- <option value="Miền Trung">Miền Trung</option>
                        <option value="Miền Nam">Miền Nam</option> -->
                    </select>
                    <select class="form-select fill-select col-md-2" aria-label="Default select example"
                        ng-model="sortOrder">
                        <option selected value="">Sắp xếp theo</option>
                        <option value="{{arrange}}" ng-repeat="arrange in arranges">{{arrange}}</option>
                        <!-- <option value="priceDesc">Giá giảm</option> -->
                    </select>
                </div>
                <div class="row d-flex flex-wrap">
                    <div class="col-md-3 col-sm-12"
                        ng-repeat="tour in tours | filter : {area : 'domestic', location : locationFilter, title: searchTour} | orderBy : sortOrderFunc | limitTo : 8 : begin">
                        <div class="card product-item position-relative text-black text-center border-0 fs-6">
                            <div class="img bg-white position-relative w-100">
                                <span class="position-absolute top-50 start-50"
                                    style="background-image: url({{tour.image[0]}});"></span>
                            </div>
                            <div class="card-body p-0">
                                <p class="card-text fw-light fst-italic">{{tour.duration}}</p>
                                <h5 class="card-title fw-semibold text-black lh-base">{{tour.title}}</h5>
                                <p class="card-text fw-light">{{tour.price | currency : '' : 0}}Đ</p>
                            </div>
                            <a href="#!detail/{{tour.id}}" class="w-100 h-100 top-0 start-0 position-absolute"></a>
                            <!-- <a href="#" class="w-100 h-100 top-0 start-0 position-absolute" data-bs-toggle="offcanvas"
                                data-bs-target="#{{tour.id}}" aria-Fcontrols="offcanvasScrolling"></a>
                            <div class="offcanvas offcanvas-end product-detail rounded-3" data-bs-scroll="true"
                                data-bs-backdrop="false" tabindex="-1" id="{{tour.id}}"
                                aria-labelledby="offcanvasScrollingLabel">
                                <div class="offcanvas-header float-start">
                                    <h5 class="offcanvas-title fw-semibold" id="offcanvasScrollingLabel">CHUYẾN ĐI CỦA
                                        BẠN</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                    <div class="card">
                                        <div class="card-header text-start border-0 bg-white">
                                            <span class="fw-semibold">{{tour.details.header}}</span> |
                                            {{tour.details.date}}
                                        </div>
                                        <div class="card-body row p-0 m-0 border-0 bg-white">
                                            <div class="air-logo col-md-4 m-0 d-flex align-items-center py-0 ps-4">
                                                <img src="{{tour.details.flight.logo}}" alt="">
                                                <div class="air-brand ms-2 text-start">
                                                    <h6 class="air-brand-name">{{tour.details.flight.airline}}</h6>
                                                    <p class="air-standard">{{tour.details.tickets[0].type}}</p>
                                                </div>
                                            </div>
                                            <div class="schedule col-md-6 p-0 m-0 d-flex align-items-center">
                                                <div class="start-place">
                                                    <p>{{tour.details.flight.start_time}}</p>
                                                    <p class="fw-semibold my-auto">{{tour.details.flight.start_place}}
                                                    </p>
                                                    <p>{{tour.details.flight.start_date}}</p>
                                                </div>
                                                <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20"
                                                    viewBox="0 0 512 512">
                                                    <path
                                                        d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM294.6 135.1c-4.2-4.5-10.1-7.1-16.3-7.1C266 128 256 138 256 150.3V208H160c-17.7 0-32 14.3-32 32v32c0 17.7 14.3 32 32 32h96v57.7c0 12.3 10 22.3 22.3 22.3c6.2 0 12.1-2.6 16.3-7.1l99.9-107.1c3.5-3.8 5.5-8.7 5.5-13.8s-2-10.1-5.5-13.8L294.6 135.1z" />
                                                </svg>
                                                <div class="end-place">
                                                    <p>{{tour.details.flight.end_time}}</p>
                                                    <p class="fw-semibold my-auto">{{tour.details.flight.end_place}}</p>
                                                    <p>{{tour.details.flight.end_date}}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-footer border-0 bg-white text-start fw-semibold">
                                            Chi tiết
                                        </div>
                                    </div>

                                    <p class="text-start fw-semibold fs-5 pt-4 pb-2 my-0">Chọn loại vé của bạn</p>
                                    <div class="row ticket">
                                        <input type="radio" class="btn-check" name="options-outlined"
                                            id="{{tour.details.tickets[0].id}}" autocomplete="off" checked>
                                        <label class="btn col p-0 mx-2" for="{{tour.details.tickets[0].id}}">
                                            <div class="card">
                                                <div class="card-header d-flex text-start pt-3 bg-white">
                                                    <img src="asm/img/seat1.webp" alt="" class="label-img">
                                                    <div class="label-title">
                                                        <p class="fw-semibold">{{tour.details.tickets[0].type}}</p>
                                                        <p style="color: orange;" class="d-flex fw-semibold">
                                                            {{tour.details.tickets[0].price | currency : '' : 0}} VND <span
                                                                class="text-black fw-normal align-self-end">/khách</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="card-body bg-white">
                                                    <div class="ticket-info align-items-center d-flex mb-2">
                                                        <img src="asm/img/suitcase1.webp" alt="">
                                                        <p class="mt-0">Hành lý xách tay 1 x 10 kg</p>
                                                    </div>
                                                    <div class="ticket-info align-items-center d-flex mb-2">
                                                        <img src="asm/img/suitcase2.webp" alt="">
                                                        <p class="mt-0">Hành lý 2 x 23 kg</p>
                                                    </div>
                                                    <div class="ticket-info align-items-center d-flex mb-2">
                                                        <img src="asm/img/calendar1.webp" alt="">
                                                        <p class="mt-0 text-secondary">Lên lịch lại không khả dụng</p>
                                                    </div>
                                                    <div class="ticket-info align-items-center d-flex">
                                                        <img src="asm/img/cash1.webp" alt="">
                                                        <p class="mt-0 text-secondary">Hoàn tiền không có sẵn</p>
                                                    </div>
                                                </div>
                                                <div class="card-footer text-body-secondary bg-white w-100 d-flex">
                                                    <div class="icon d-flex">
                                                        <img src="asm/img/food1.webp" alt="">
                                                        <img src="asm/img/food2.webp" alt="">
                                                        <img src="asm/img/food3.webp" alt="">
                                                        <img src="asm/img/food4.webp" alt="">
                                                    </div>
                                                    <div class="detail">
                                                        <p class="fw-semibold">Xem chi tiết</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </label>
                                        <input type="radio" class="btn-check" name="options-outlined"
                                            id="{{tour.details.tickets[1].id}}" autocomplete="off">
                                        <label class="btn col p-0 mx-2" for="{{tour.details.tickets[1].id}}">
                                            <div class="card">
                                                <div class="card-header d-flex text-start pt-3 bg-white">
                                                    <img src="asm/img/seat2.webp" alt="" class="label-img">
                                                    <div class="label-title">
                                                        <p class="fw-semibold">{{tour.details.tickets[1].type}}</p>
                                                        <p style="color: orange;" class="d-flex fw-semibold">
                                                            {{tour.details.tickets[1].price | currency : '' : 0}} VND <span
                                                                class="text-black fw-normal align-self-end">/khách</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="card-body bg-white">
                                                    <div class="ticket-info align-items-center d-flex mb-2">
                                                        <img src="asm/img/suitcase1.webp" alt="">
                                                        <p class="mt-0">Hành lý xách tay 1 x 10 kg</p>
                                                    </div>
                                                    <div class="ticket-info align-items-center d-flex mb-2">
                                                        <img src="asm/img/suitcase2.webp" alt="">
                                                        <p class="mt-0">Hành lý 2 x 23 kg</p>
                                                    </div>
                                                    <div class="ticket-info align-items-center d-flex mb-2">
                                                        <img src="asm/img/calendar2.webp" alt="">
                                                        <p class="mt-0">Phí đổi lịch bay miễn phí</p>
                                                    </div>
                                                    <div class="ticket-info align-items-center d-flex">
                                                        <img src="asm/img/cash2.webp" alt="">
                                                        <p class="mt-0">Hoàn vé 50% phí</p>
                                                    </div>
                                                </div>
                                                <div class="card-footer text-body-secondary bg-white w-100 d-flex">
                                                    <div class="icon d-flex">
                                                        <img src="asm/img/food1.webp" alt="">
                                                        <img src="asm/img/food2.webp" alt="">
                                                        <img src="asm/img/food3.webp" alt="">
                                                        <img src="asm/img/food4.webp" alt="">
                                                    </div>
                                                    <div class="detail">
                                                        <p class="fw-semibold">Xem chi tiết</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="offcanvas-footer d-flex">
                                    <div class="price text-start">Tổng cộng: <span>{{tour.details.tickets[0].price | currency : '' : 0}}
                                            VND</span></div>
                                    <button class="border-0 text-white rounded-1" ng-click="addToCart(tour)">Đặt chuyến</button>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link text-black" href="" aria-label="Previous" ng-click="previous()">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" ng-class="{active : currentPage === 1}"><a class="page-link text-black" href="" ng-click="first()">1</a></li>
                    <li class="page-item" ng-class="{active : currentPage === 2}"><a class="page-link text-black" href="" ng-click="second()">2</a></li>
                    <li class="page-item" ng-class="{active : currentPage === 3}"><a class="page-link text-black" href="" ng-click="third()">3</a></li>
                    <li class="page-item">
                        <a class="page-link text-black" href="" aria-label="Next" ng-click="next()">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </section>




        <!-- <hr style="margin: 0;"> -->
        <section class="container-fluid brand bg-white">
            <div class="row row-cols-6 row-cols-md-6 m-0">
                <div class="wrap-main w-100 my-0 mx-auto">
                    <div class="col-md-2 col-sm-4">
                        <div class="card border-0">
                            <a href="">
                                <img src="asm/img/i_shangrila_en_2x_fxx30g.webp" class="card-img-top" alt="...">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="card border-0">
                            <a href="">
                                <img src="asm/img/i_airasia_en_2x_xlouay.webp" class="card-img-top" alt="...">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="card border-0">
                            <a href="">
                                <img src="asm/img/qc4bousc4la1mhzxpbhd.webp" class="card-img-top" alt="...">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="card border-0">
                            <a href="">
                                <img src="asm/img/i_reserve_google_2x_nmzaim.webp" class="card-img-top" alt="...">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="card border-0">
                            <a href="">
                                <img src="asm/img/i_disney_2x_v8qywc.webp" class="card-img-top" alt="...">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="card border-0">
                            <a href="">
                                <img src="asm/img/i_railpass_2x_jy9ji6.webp" class="card-img-top" alt="...">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- <div class="row">
            <div class="col-4">
              <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
                <nav class="nav nav-pills flex-column">
                  <a class="nav-link" href="#item-1">Item 1</a>
                  <nav class="nav nav-pills flex-column">
                    <a class="nav-link ms-3 my-1" href="#item-1-1">Item 1-1</a>
                    <a class="nav-link ms-3 my-1" href="#item-1-2">Item 1-2</a>
                  </nav>
                  <a class="nav-link" href="#item-2">Item 2</a>
                  <a class="nav-link" href="#item-3">Item 3</a>
                  <nav class="nav nav-pills flex-column">
                    <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>
                    <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>
                  </nav>
                </nav>
              </nav>
            </div>
          
            <div class="col-8">
              <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
                <div id="item-1">
                  <h4>Item 1</h4>
                  <p>...</p>
                </div>
                <div id="item-1-1">
                  <h5>Item 1-1</h5>
                  <p>...</p>
                </div>
                <div id="item-1-2">
                  <h5>Item 1-2</h5>
                  <p>...</p>
                </div>
                <div id="item-2">
                  <h4>Item 2</h4>
                  <p>...</p>
                </div>
                <div id="item-3">
                  <h4>Item 3</h4>
                  <p>...</p>
                </div>
                <div id="item-3-1">
                  <h5>Item 3-1</h5>
                  <p>...</p>
                </div>
                <div id="item-3-2">
                  <h5>Item 3-2</h5>
                  <p>...</p>
                </div>
              </div>
            </div>
          </div> -->

        <!-- <section class="category p-0">
            <div class="card-group row m-0">
                <div class="card position-relative col-md-6 rounded-0 border-0 p-0">
                    <img src="../img/vungtau2.jpg" class="card-img w-100 h-100 rounded-0" alt="">
                    <div class="card-img-overlay position-absolute w-100 text-center">
                        <h5 class="card-title fw-semibold lh-sm fs-2 text-white">VŨNG TÀU</h5>
                        <a class="card-text fw-semibold text-decoration-none text-white" href="">XEM TẤT CẢ</a>
                    </div>
                    <a class="position-absolute d-block w-100 h-100" href=""></a>
                </div>
                <div class="card position-relative col-md-6 rounded-0 border-0 p-0">
                    <img src="../img/dalat1.jpg" class="card-img w-100 h-100 rounded-0" alt="">
                    <div class="card-img-overlay position-absolute w-100 text-center">
                        <h5 class="card-title fw-semibold lh-sm fs-2 text-white">ĐÀ LẠT</h5>
                        <a class="card-text fw-semibold text-decoration-none text-white" href="">XEM TẤT CẢ</a>
                    </div>
                    <a class="position-absolute d-block w-100 h-100" href=""></a>
                </div>
                <div class="card position-relative col-md-6 rounded-0 border-0 p-0">
                    <img src="../img/phuquoc1.jpg" class="card-img w-100 h-100 rounded-0" alt="">
                    <div class="card-img-overlay position-absolute w-100 text-center">
                        <h5 class="card-title fw-semibold lh-sm fs-2 text-white">PHÚ QUỐC</h5>
                        <a class="card-text fw-semibold text-decoration-none text-white" href="">XEM TẤT CẢ</a>
                    </div>
                    <a class="position-absolute d-block w-100 h-100" href=""></a>
                </div>
                <div class="card position-relative col-md-6 rounded-0 border-0 p-0">
                    <img src="../img/nhatrang1.jpg" class="card-img w-100 h-100 rounded-0" alt="">
                    <div class="card-img-overlay position-absolute w-100 text-center">
                        <h5 class="card-title fw-semibold lh-sm fs-2 text-white">NHA TRANG</h5>
                        <a class="card-text fw-semibold text-decoration-none text-white" href="">XEM TẤT CẢ</a>
                    </div>
                    <a class="position-absolute d-block w-100 h-100" href=""></a>
                </div>
            </div>
            <div class="card-group row m-0">
                <div class="card position-relative col-md-6 rounded-0 border-0 p-0">
                    <img src="../img/thailan1.jpg" class="card-img w-100 h-100 rounded-0" alt="">
                    <div class="card-img-overlay position-absolute w-100 text-center">
                        <h5 class="card-title fw-semibold lh-sm fs-2 text-white">THÁI LAN</h5>
                        <a class="card-text fw-semibold text-decoration-none text-white" href="">XEM TẤT CẢ</a>
                    </div>
                    <a class="position-absolute d-block w-100 h-100" href=""></a>
                </div>
                <div class="card position-relative col-md-6 rounded-0 border-0 p-0">
                    <img src="../img/dailoan2.jpg" class="card-img w-100 h-100 rounded-0" alt="">
                    <div class="card-img-overlay position-absolute w-100 text-center">
                        <h5 class="card-title fw-semibold lh-sm fs-2 text-white">ĐÀI LOAN</h5>
                        <a class="card-text fw-semibold text-decoration-none text-white" href="">XEM TẤT CẢ</a>
                    </div>
                    <a class="position-absolute d-block w-100 h-100" href=""></a>
                </div>
                <div class="card position-relative col-md-6 rounded-0 border-0 p-0">
                    <img src="../img/hanquoc2.jpg" class="card-img w-100 h-100 rounded-0" alt="">
                    <div class="card-img-overlay position-absolute w-100 text-center">
                        <h5 class="card-title fw-semibold lh-sm fs-2 text-white">HÀN QUỐC</h5>
                        <a class="card-text fw-semibold text-decoration-none text-white" href="">XEM TẤT CẢ</a>
                    </div>
                    <a class="position-absolute d-block w-100 h-100" href=""></a>
                </div>
                <div class="card position-relative col-md-6 rounded-0 border-0 p-0">
                    <img src="../img/singapore3.jpg" class="card-img w-100 h-100 rounded-0" alt="">
                    <div class="card-img-overlay position-absolute w-100 text-center">
                        <h5 class="card-title fw-semibold lh-sm fs-2 text-white">SINGAPORE</h5>
                        <a class="card-text fw-semibold text-decoration-none text-white" href="">XEM TẤT CẢ</a>
                    </div>
                    <a class="position-absolute d-block w-100 h-100" href=""></a>
                </div>
            </div>
        </section> -->
        <!-- <section class="container-fluid ship">
            <div class="row">
                <div class="col-lg-3 col-md-6 p-0">
                    <div class="card rounded-0 d-flex align-items-center justify-content-center fw-semibold text-black">
                        <img src="../img/ic_ship_1.svg" class="card-img-top" alt="..." style="width: 32px;">
                        <p class="card-text text-center">THANH TOÁN DỄ DÀNG
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p-0">
                    <div class="card rounded-0 d-flex align-items-center justify-content-center fw-semibold text-black">
                        <img src="../img/ic_ship_2.svg" class="card-img-top" alt="..." style="width: 32px;">
                        <p class="card-text text-center">DI CHUYỂN ÊM ÁI
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p-0">
                    <div class="card rounded-0 d-flex align-items-center justify-content-center fw-semibold text-black">
                        <img src="../img/ic_ship_3.svg" class="card-img-top" alt="..." style="width: 32px;">
                        <p class="card-text text-center">HOTLINE 01666331161
                            <br>
                            (10:00 - 19:00)
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p-0">
                    <div class="card rounded-0 d-flex align-items-center justify-content-center fw-semibold text-black">
                        <img src="../img/ic_ship_4.svg" class="card-img-top" alt="..." style="width: 32px;">
                        <p class="card-text text-center">CHƠI VUI, GIÁ TỐT
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="text-white w-100 bg-black">
        <div class="row-top w-100 my-0 mx-auto">
            <div class="wrap-main">
                <div class="row list-row">
                    <div class="col-xs-6 col-sm-12 float-none align-top">
                        <ul class="p-0 m-0">
                            <li class="fw-semibold"><a href="#"
                                    class="fw-semibold text-white text-decoration-none lh-base">TRANG CHỦ</a></li>
                            <li class="fw-semibold"><a href="#"
                                    class="fw-semibold text-white text-decoration-none lh-base">SẢN PHẨM</a></li>
                            <li class="fw-semibold"><a href="#"
                                    class="fw-semibold text-white text-decoration-none lh-base">GIỚI THIỆU</a></li>
                            <li class="fw-semibold"><a href="#"
                                    class="fw-semibold text-white text-decoration-none lh-base">LIÊN HỆ</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-12 float-none align-top">
                        <ul class="p-0 m-0">
                            <li class="fw-semibold"><a href="#"
                                    class="fw-semibold text-white text-decoration-none lh-base">HƯỚNG DẪN MUA HÀNG</a>
                            </li>
                            <li class="fw-semibold"><a href="#"
                                    class="fw-semibold text-white text-decoration-none lh-base">CHÍNH SÁCH ĐỔI TRẢ</a>
                            </li>
                            <li class="fw-semibold"><a href="#"
                                    class="fw-semibold text-white text-decoration-none lh-base">CÂU HỎI THƯỜNG GẶP</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-12 float-none align-top">
                        <ul class="p-0 m-0">
                            <li class="fw-semibold">PHƯƠNG THỨC THANH TOÁN</li>
                            <li class="fw-semibold">
                                <a href="#"
                                    class="fw-semibold text-white text-decoration-none lh-base visa position-relative"
                                    style="background-image: url(../img/ic_visa.svg)"></a>
                                <a href="#"
                                    class="fw-semibold text-white text-decoration-none lh-base cardMS position-relative"
                                    style="background-image: url(../img/ic_mscard.svg);"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-12 float-none align-top">
                        <ul class="p-0 m-0">
                            <li class="fw-semibold">KẾT NỐI VỚI DOUBLE CHILL</li>
                            <li class="fw-semibold">
                                <a href="https://www.facebook.com/lighou"
                                    class="fb position-relative fw-semibold text-white text-decoration-none lh-base"
                                    style="background-image: url(../img/ic_fb.svg)"></a>
                                <a href="https://www.instagram.com/dangquang.vu/"
                                    class="ig position-relative fw-semibold text-white text-decoration-none lh-base"
                                    style="background-image: url(../img/ic_insta.svg); margin-left: 10px;"></a>
                                <a href="#"
                                    class="yt position-relative fw-semibold text-white text-decoration-none lh-base"
                                    style="background-image: url(../img/ic_ytb.svg); margin-left: 10px;"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-4 col-sm-12 float-none align-top">
                        <ul class="p-0 m-0">
                            <li class="fw-semibold ">NHẬN BẢN TIN</li>
                            <li class="fw-semibold">
                                <div class="form-group">
                                    <input type="text" class="form-control d-block w-100 rounded-0"
                                        placeholder="Vui lòng nhập email của bạn và ENTER">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-bottom w-100">
            <div class="wrap-main d-flex w-100 m-auto align-items-center">
                <div>
                    <span>Copyright &copy; 2024 Double Chill.</span>
                    <a class="fw-light text-white text-decoration-none lh-base" href="">Chính sách</a>
                    <span>|</span>
                    <a class="fw-light text-white text-decoration-none lh-base" href="">Quy chế hoạt động</a>
                    <span>|</span>
                    <a class="fw-light text-white text-decoration-none lh-base" href="">Điều khoản và điều kiện</a>
                    <span>|</span>
                    <a class="fw-light text-white text-decoration-none lh-base" href="">Chủ sở hữu</a>
                </div>
                <div class="d-flex identity">
                    <a class="position-relative" href=""></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/index.js"></script>
    <script>
        window.addEventListener('scroll', function () {
            var navbar1Height = document.querySelector('.navbar:nth-child(1)').offsetHeight;
            var navbar2 = document.querySelector('.navbar:nth-child(2)');

            if (window.scrollY > navbar1Height) {
                navbar2.classList.add('fix');
            } else {
                navbar2.classList.remove('fix');
            }
        });
    </script> -->
</body>

</html>